// Inter
@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../../fonts/Inter-Regular.woff2') format('woff2');
}
@font-face {
  font-family: Inter;
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url('../../fonts/Inter-Italic.woff2') format('woff2');
}
@font-face {
  font-family: InterMedium;
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('../../fonts/Inter-Medium.woff2') format('woff2');
}
@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('../../fonts/Inter-SemiBold.woff2') format('woff2');
}
@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../../fonts/Inter-Bold.woff2') format('woff2');
}

// DM Sans
@font-face {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../../fonts/DMSans9pt-Regular.woff2') format('woff2');
}
@font-face {
  font-family: 'DM Sans Italic';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url('../../fonts/DMSans9pt-Italic.woff2') format('woff2');
}
@font-face {
  font-family: 'DM Sans Medium';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('../../fonts/DMSans9pt-Medium.woff2') format('woff2');
}
@font-face {
  font-family: 'DM Sans Semibold';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('../../fonts/DMSans9pt-SemiBold.woff2') format('woff2');
}
@font-face {
  font-family: 'DM Sans Bold';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../../fonts/DMSans9pt-Bold.woff2') format('woff2');
}
