:root {
  --app-primary-color: #00904a;
  --app-secondary-color: #9bdd76;
  --app-primary-color-light-90: #ecf7f0;
  --app-primary-color-light: #f6f6f6;
  --app-primary-color-darken: #1e8d44;
  --app-primary-color-support: #5ca6de;
  --app-primary-color-background: #f3fafd;
  --app-primary-color-warning: #ff4d4f;
  --app-primary-color-pending: #faad14;
  --app-primary-color-success: #52c41a;
  --app-primary-color-subtitle: #bdbdbd;
  --app-primary-color-body-text: #555;
  --app-primary-color-title-text: #333;
  --app-primary-color-divider: #f2f2f2;
  --app-box-shadow: 4px 4px 28px rgb(8 98 150 / 19%);
}
